{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>

    {% for listing in listings %}
        <a href="{% url 'listing' listing.id %}" style="text-decoration: none; color: black;">
            <div class="rowListings">
                <div class="column-left">
                    <div>
                        <img src="{{listing.photo}}" alt="image" class="image">
                    </div>
                </div>
                <div class="column-right">
                    <div>
                        <h5> <strong> {{listing.title}} </strong></h5>
                        <strong>Price:</strong> ${{listing.price}} <br>
                        {{listing.description}} <br><br>
                        <div style="color: brown;">
                            Listed By: {{listing.user}} <br>
                            Category: {{listing.category}}
                        </div>
                    </div>          
                </div>
            </div>
        </a>
    {% endfor %}
    {% if inactives %}
        <h2> Inactive Listings </h2>
        {% for inactive in inactives %}
        <a href="{% url 'listing' inactive.id %}" style="text-decoration: none; color: black;">
            <div class="rowListings">
                <div class="column-left">
                    <div>
                        <img src="{{inactive.photo}}" alt="image" class="image">
                    </div>
                </div>
                <div class="column-right">
                    <div>
                        <h5> <strong> {{inactive.title}} </strong></h5>
                        <strong>Price:</strong> ${{inactive.price}} <br>
                        {{inactive.description}} <br><br>
                        <div style="color: brown;"></div>
                            Listed By: {{inactive.user}} <br>
                            Category: {{inactive.category}}
                        </div>
                    </div>          
                </div>
            </div>
        </a>
        {% endfor %}
    {% endif %}
{% endblock %}